<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736882067229-bjmfrmfsm3o58u28hdedralb2mthcpdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736882067229-bjmfrmfsm3o58u28hdedralb2mthcpdg</string>
	<key>API_KEY</key>
	<string>AIzaSyBcMlZtPfMc_iw9vlJ4Qvhh0Dja5czv--Y</string>
	<key>GCM_SENDER_ID</key>
	<string>736882067229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anohene.companera</string>
	<key>PROJECT_ID</key>
	<string>companera-a51f4</string>
	<key>STORAGE_BUCKET</key>
	<string>companera-a51f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736882067229:ios:93a9bf7fa4bf66f13c03f4</string>
</dict>
</plist>